

@font-face
{
    font-family: myfont;
    src: url('./Metadannye-Export.ttf');
}

@font-face
{
    font-family: skills;
    src: url('./Martius-Regular.ttf')

}

@font-face
{
    font-family: skills_list;
    src: url('./Meta\ Courage\ TTF.ttf')

}

@font-face
{
    font-family: working_exp;
    src: url('./Nextir\ Brush.otf')

}

@font-face
{
    font-family: working_exp_list;
    src: url('./Fresh\ Season.otf')
}
.container
{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.first
{
    width: 40%;
    display: inline-block;
}

.second
{
    width: 60%;
    display: inline-block;
}

.person
{
    margin-left: 20px;
    display: block;
    margin-right: 20px;
}

.name
{
    font-family: "Tektur", sans-serif;
    font-size: 50px;
    background-color: aqua;
    min-width: 58%;
    max-width: 70%;
    margin-left: 20px;
    display: flex;
}

.title
{
    font-size: 40px;
    font-family: myfont;
    color: #f5e7e7fb;
    background-color: black;
    margin-left: 20px;
    min-width: 58%;
    max-width: 70%;
}
.icons
{
    margin-left: 30px;
    margin-top: 30px;
}
ul li, ol li
{
    margin-left: 40px;
    font-family: skills_list;
    font-size: 20px;
}

ol li
{
    margin-left: 40px;
    font-family: working_exp_list;
    font-size: 25px;
    
}
.skills_section
{
    background-color: antiquewhite;
    min-width: 45%;
    height: 300px;
    display: block;
    margin-left: 90px;
}

.person, .skills_section
{
    display: inline-block;
}

.working_exp_section
{
    background-color: coral;
    width: 85%;
    
    height: 50%;
    display: block;
    margin-left: 90px;
}

#skills
{
    text-transform: capitalize;
    text-decoration: underline;
    font-family: skills;
    font-size: 35px;
    margin-left: 20px;
}

.WE
{
    text-transform: capitalize;
    text-decoration: underline;
    font-family: working_exp;
    font-size: 35px;
    margin-left: 15px;
}



a{
    color: #000;
}

.name_title
{
    margin-top: 10px;
    width: 100%;
    display: block;
}
